*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  background: rgba(12, 13, 46, 0.90);
  background: #010225;
  color: #fff;
  font-family: 'Courier New', Courier, monospace;
  background : linear-gradient(120deg, black,  rgb(63, 4, 4));
}
